*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#ajoutClient{
    width: 80%;
    margin: auto;

}

#ajoutEntreprise{
    width: 80%;
    margin: auto;
}

#ajoutActivite{
    width: 80%;
    margin: auto;
}


#modifierClient{
    width: 80%;
    margin: auto;
}

 label{
     float: left;
     font-family: "Gill Sans MT";
     color: #1d324b;
 }

 p{
     margin-left: 10%;
     font-size: 1.7em;
     font-family: "Gill Sans MT";
     color: #1d324b;
 }


 #bouton{
     float: right;
     margin-top: 1%;
     margin-right: 3%;
 }