
#conteneur{
    width:60%;
    margin: auto;
}

/*#diaporama{
    width: 350px;
    height: 300px;
    background-image: url("upload/koala.jpg");
    box-shadow:0 1px 4px hsla(0,0%,0%,.4);

    -webkit-animation-name: diapo1;
    -webkit-animation-duration: 12s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;

    -moz-animation-name: diapo1;
    -moz-animation-duration: 12s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    
    animation-name: diapo1;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@-webkit-keyframes diapo1{
    0%{background-image: url("upload/koala.jpg");}
    33%{background-image: url("upload/lighthouse.jpg");}
    66%{background-image: url("upload/pena.jpg");}
}

@-moz-keyframes diapo1{
    0%{background-image: url("upload/koala.jpg");}
    33%{background-image: url("upload/lighthouse.jpg");}
    66%{background-image: url("upload/pena.jpg");}
}

@keyframes diapo1{
    0%{background-image: url("upload/koala.jpg");}
    33%{background-image: url("upload/lighthouse.jpg");}
    66%{background-image: url("upload/pena.jpg");}
}*/

.slideshow1 [src]{
position:absolute;
opacity:0;
left:0;
width: 100%;
height: auto;
-webkit-mask-image:linear-gradient(45deg,hsl(0,0%,0%) 47%,transparent 52%);
-webkit-mask-size:300% 100%;
animation-name:slide;
animation-duration: 12s;
animation-timing-function: linear;
animation-iteration-count: infinite;
 }
       
.slideshow1{
list-style:none;
position:relative;
overflow:hidden;
width:350px;
height:250px;
box-shadow:0 1px 4px hsla(0,0%,0%,.4)}

.slideshow1 [src="upload/lighthouse.jpg"]{animation-delay:3s}
.slideshow1 [src="upload/pena.jpg"]{animation-delay:6s}


@keyframes slide{
0%{opacity:1}
25%{opacity:1;-webkit-mask-position:0}
50%{opacity: 1;-webkit-mask-position:100%}
100%{opacity:0}
}   



