/* encadrer le formulaire*/

#contact{
    width:100%;
}

#map{
    margin-left: 6%;
    padding:0;
    border:solid 2px;
    border-color: #1d324b;
}

#sous_map{
    margin-bottom: -20px;
}

#form{
    height: 605;
    margin-left: 6%;
    border:solid 2px;
    border-color: #1d324b;
    background-color: #3e6ba4;
    font-family: "Verdana";
    font-size: 15px;
    color: #a5abc5;
}

#coordo{
    margin-top: 1%;
    text-align: center;
    font-family: "Verdana";
    color:#1d324b;
}

.btn-primary {
   
    color: #a5abc5;
}
