/* encadrer le formulaire*/
body{
    display: flex;
    flex-direction: column;
}
#contact{
    width:60%;
    margin: auto;
}

#form{
    padding:1em 1em 0 1em;
    border:solid 1px;
    border-color: #1d324b;
    background-color: #4e79a4;
    font-family: "Gill Sans MT";
    font-size: 1.1em;
    color: #a5abc5;
}

#coordo{
    margin-left: 5%;
    text-align: center;
    font-family: "Gill Sans MT";
    color:#1d324b;
}

#map{
    margin-top:2%;
    padding:0;
    border:solid 1px;
    border-color: #1d324b;
}
/* mettre de l'espace entre les telephone*/
#coordo p img:last-child {
    margin-left: .5em;
}