/* encadrer le formulaire*/

#contact{
    width:100%;
    margin-left:20px;
    margin-right: 20px;

}

#map{
    margin: 0;
    padding:0;
    border:solid 2px;
    border-color: #1d324b;
}

#sous_map{
    margin-bottom: -20px;
}
#form{
    margin: 0px 0px 0px 0px;
    border:solid 2px;
    border-color: #1d324b;
    top:5%;
    left:10%;
    width:45%;
    bottom:5%;
    right:100%;
    background-color: #3e6ba4;
    font-size: 15px;
    color: #AFEEEE;

}